:root {
  --text-color: white;
  --link-color: #fbd784;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  font-family: "Open Sans", sans-serif;
}

.background_img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  object-fit: cover;
}

.header_container {
  position: relative;
  padding: 0 4%;
  margin: 0 auto;
}

.container {
  max-width: 1320px;
  padding: 0 10px;
  margin: 0 auto;
}

.content_link,
.content_link_2 {
  color: var(--link-color);
  font-family: "Open Sans";
  font-size: clamp(8px, 3vw, 18px);
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
  transition: 0.5s;
}

.content_link:hover,
.content_link_2:hover {
  color: #cb9925df;
}

.content_title {
  color: var(--text-color);
  font-family: "Open Sans";
  font-size: clamp(24px, 8vw, 64px);
  font-weight: 700;
  margin-bottom: 25px;
}

.content_paragraph {
  color: var(--text-color);
  font-family: "Open Sans";
  font-size: clamp(8px, 3vw, 18px);
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 25px;
}

.content_link_2 {
  letter-spacing: 6px;
  text-transform: uppercase;
}

/* Header Section */

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 40px 0;
  background: transparent;
  z-index: 999;
}

.header_section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_logo_title a {
  text-decoration: none;
  color: var(--text-color);
  font-family: "Open Sans";
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.24px;
  text-transform: capitalize;
}

.search_btn {
  color: var(--text-color);
  font-size: 20px;
  cursor: pointer;
}

.search_btn:hover {
  color: rgba(128, 128, 128, 0.799);
}

.search_button {
  display: flex;
  align-items: center;
  gap: 14px;
}

.search_button h3 {
  color: rgba(128, 128, 128, 0.799);
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}

.navigation a,
.rotate_title {
  text-decoration: none;
  color: var(--text-color);
  font-family: "Open Sans";
  font-size: clamp(8px, 3vw, 18px);
  font-weight: 600;
  transition: 0.5s;
}

.navigation a:hover {
  color: #b26e21;
}

/* Home Section 1 */

.home_section_1 {
  position: relative;
  margin-bottom: 600px;
}

.main_section_content {
  padding-top: 230px;
  transform: translateX(-220px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  margin-bottom: 45px;
}

.link_image {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 25px;
}

.main_title {
  color: var(--text-color);
  font-family: "Open Sans";
  font-size: clamp(40px, 8vw, 96px);
  font-weight: 700;
  line-height: 100px;
  text-transform: capitalize;
  margin-left: 120px;
}

.main_title span {
  font-size: clamp(24px, 6vw, 88px);
  font-weight: 400;
}

.scroll_button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.scroll_button .content_link {
  color: var(--text-color);
  font-weight: 600;
}

.scroll_button .content_link:hover {
  color: #3e3e3e;
}

.social_networks {
  position: absolute;
  top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.rotate_title {
  transform: rotate(90deg);
  margin-bottom: 35px;
}

/* Home Section 2 */

.home_section_2,
.home_section_3,
.home_section_4 {
  position: relative;
  margin-bottom: 200px;
}

.content_section_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.fort_section_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Home Section 3 */

.content_section_2 {
  position: relative;
}

.content_section_2 > img {
  width: 1300px;
}

.inner_content {
  position: absolute;
  bottom: 20px;
  padding: 0 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Home Section 4 */

.content_section_3 > img {
  order: 1;
}

/* Footer Section */

.footer {
  position: relative;
}

.footer_logo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.373);
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.footer_logo_title {
  color: var(--text-color);
  font-family: "Open Sans";
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 0.48px;
  text-transform: capitalize;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.btn {
  padding: 20px 25px;
  border: 1px solid var(--link-color);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.7s;
}

.btn a {
  color: var(--text-color);
  font-family: "Open Sans";
  font-size: 22px;
  font-weight: 400;
  letter-spacing: -0.3px;
  text-decoration: none;
  transition: all 0.7s;
}

.btn:hover {
  background: var(--link-color);
  border: 1px solid var(--link-color);
}

.btn:hover a {
  color: black;
}

.footer_menus {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 100px;
}

.footer_menu_title {
  color: var(--text-color);
  font-family: "Open Sans";
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.3px;
}

.footer_menu_subtitle,
.help_menu a,
.about_menu a {
  color: var(--link-color);
  font-family: "Open Sans";
  font-size: 19px;
  font-weight: 400;
  letter-spacing: -0.205px;
}

.help_menu a:hover,
.about_menu a:hover,
.terms a:hover {
  color: var(--link-color);
}

.help_menu a,
.about_menu a {
  color: var(--text-color);
  font-weight: 400;
  letter-spacing: -0.205px;
  text-decoration: none;
}

.about_menu,
.help_menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer_forms {
  display: flex;
  align-items: center;
}

.submit_button {
  background: black;
  border: none;
  cursor: pointer;
}

.submit_button > img {
  transition: all 0.5s;
}

.submit_button:hover img {
  transform: scale(1.1);
}

.email {
  width: 250px;
  height: 68px;
  padding-left: 16px;
  background: transparent;
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.53);
}

.email::placeholder {
  color: var(--text-color);
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.205px;
}

.copyright_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}

.terms {
  display: flex;
  gap: 40px;
}

.terms a {
  color: var(--text-color);
  font-family: "Open Sans";
  font-size: 15px;
  font-weight: 400;
  letter-spacing: -0.205px;
  text-decoration: none;
}

.footer_socials {
  display: flex;
  align-items: center;
  gap: 40px;
}

.copyright {
  color: var(--text-color);
  font-family: "Open Sans";
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  margin-bottom: 50px;
}

/* For Devices */

@media (max-width: 1180px) {
  .home_section_1 {
    margin-bottom: 200px;
  }
  .main_section_content {
    padding-top: 180px;
    transform: translateX(0);
    text-align: center;
  }
  .main_title {
    margin-right: 120px;
  }
  .link_image > img {
    width: 40px;
  }
  .social_networks img {
    width: 15px;
    height: 15px;
  }
  .content_section_1 {
    margin: 0 10%;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .content_section_2 {
    display: flex;
    justify-content: center;
  }
  .content_section_2 img:first-child {
    width: 100%;
    margin: 0 10%;
    margin-bottom: 40px;
  }
  .link_image {
    justify-content: center;
  }
  .content_title.another_title {
    font-size: 30px;
  }
  .content_paragraph.another_paragraph {
    font-size: 12px;
  }
  .another_link {
    font-size: 10px;
  }
  .another_link_img img {
    width: 20px;
  }
}

@media (max-width: 730px) {
  .inner_content {
    height: 100%;
    align-items: center;
    transform: translateY(20px);
  }
  .content_title.another_title {
    font-size: 15px;
  }
  .content_paragraph.another_paragraph {
    display: none;
  }
  .another_link_img {
    margin-top: 25px;
  }
  .another_link {
    font-size: 8px;
  }
  .content_section_1 img:first-child {
    width: 100%;
    margin: 0 5%;
  }
  .link_image_only {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .link_image_only img {
    height: 1px;
  }
  .home_section_2,
  .home_section_3,
  .home_section_4 {
    margin-bottom: 50px;
  }
  .footer_logo,
  .footer_menus,
  .copyright_content {
    justify-content: center;
    gap: 40px;
  }
  .search_button {
    display: none;
  }
  .navigation {
    gap: 30px;
  }
}
